<!DOCTYPE html>
<html ng-app="@ViewBag.AppName">
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="header">
        <table width="100%" height="100%">
            <tr><td colspan="3"><h1>@ViewBag.Title.ToLower()</h1></td></tr>
            <tr><td id="nav_loc">@ViewBag.Path</td><td id="date_time"></td></tr>
        </table>
    </div>
    <div id="sidebar">
        <a href="home.html"><img src="@Url.Content("~/Images/ouit-logo.gif")" width="100%"></a>
        @RenderSection("sidebar", false)
    </div>
    <div id="content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script>
        if ("@ViewBag.Error" != "") {
            console.error("@ViewBag.Error")
            $("#error_panel").show();
            setTimeout(function () {
                $("#error_panel").fadeOut("slow");
            }, 1000 * 5);
        }
    </script>
</body>
</html>