@model IEnumerable<LS_Dashboard.Models.DB.IncidentEntity>
@{
    ViewBag.Title = "Home";
}

@section styles
{
    <style>
        .edit-row {
            white-space: nowrap;
            overflow: hidden;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .edit-row br {
            display: none;
        }

        .edit-row * {
            display: inline;
            white-space: nowrap;
        }
    </style>
}
<div class="row" ng-app="dashboardApp">
    <table id="actionable" ng-controller="IncidentController as actCtrl" ng-init="actCtrl.init('actionable')" class="table">
        <caption>{{actCtrl.table}}</caption>
        <tr><th>Number</th><th>Info</th><th>Notes</th><th>Availability</th></tr>
        <tr ng-repeat="incident in actCtrl.incidents" ng-class="{danger: incident.new==true}">
            <td class="col-xs-3">{{incident.number}}</td>
            <td class="col-xs-3">{{incident.notes}} - {{incident.availability}}</td>
            <td><div contenteditable="true" class="edit-row" ng-model="incident.update_notes" ng-keypress="actCtrl.keyDown(incident, $event)" ng-blur="actCtrl.cancel(incident, $event)"></div></td>
            <td><div contenteditable="true" class="edit-row" ng-model="incident.update_availability" ng-keypress="actCtrl.keyDown(incident, $event)" ng-blur="actCtrl.cancel(incident, $event)"></div></td>
        </tr>
    </table>
    <table id="faculty_assist" ng-controller="IncidentController as faCtrl" ng-init="faCtrl.init('faculty_assist')" class="table">
        <caption>{{faCtrl.table}}</caption>
        <tr><th>Number</th><th>Info</th><th>Notes</th><th>Availability</th></tr>
        <tr ng-repeat="incident in actCtrl.incidents">
            <td class="col-xs-3">{{incident.number}}</td>
            <td class="col-xs-3">{{incident.notes}} - {{incident.availability}}</td>
            <td><div contenteditable="true" class="edit-row" ng-model="incident.update_notes" ng-keypress="actCtrl.keyDown(incident, $event)" ng-blur="actCtrl.cancel(incident, $event)"></div></td>
            <td><div contenteditable="true" class="edit-row" ng-model="incident.update_availability" ng-keypress="actCtrl.keyDown(incident, $event)" ng-blur="actCtrl.cancel(incident, $event)"></div></td>
        </tr>
    </table>
    <table id="immediate_assist" ng-controller="IncidentController as cisCtrl" ng-init="cisCtrl.init('immediate_assist')" class="table">
        <caption>{{cisCtrl.table}}</caption>
        <tr><th>Number</th><th>Info</th><th>Notes</th><th>Availability</th></tr>
        <tr ng-repeat="incident in actCtrl.incidents">
            <td class="col-xs-3">{{incident.number}}</td>
            <td class="col-xs-3">{{incident.notes}} - {{incident.availability}}</td>
            <td><div contenteditable="true" class="edit-row" ng-model="incident.update_notes" ng-keypress="actCtrl.keyDown(incident, $event)" ng-blur="actCtrl.cancel(incident, $event)"></div></td>
            <td><div contenteditable="true" class="edit-row" ng-model="incident.update_availability" ng-keypress="actCtrl.keyDown(incident, $event)" ng-blur="actCtrl.cancel(incident, $event)"></div></td>
        </tr>
    </table>
</div>

@section scripts
{
    <script>var path = "@Request.Url.AbsolutePath"</script>
    @Scripts.Render("~/bundles/angular");
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.0.js")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Scripts/Dashboard/controllers.js")
    @Scripts.Render("~/Scripts/Dashboard/directives.js")
    @Scripts.Render("~/Scripts/Dashboard/services.js")

    <script>
        var app = angular.module('dashboardApp', ["directives", "services", "controllers"]);
    </script>
}